/* complaint.css */

/* Apply styles to the entire page */
.main1 {
  background-image: url("../Assets/Registrationbg.jpg");
  height: 900px;
}
.main-container {
  position: relative; /* Make it a reference for absolute positioning */
  background-size: cover;
  font-family: Arial, sans-serif;
  height: 100vh; /* Adjust as needed */
}

/* Add a semi-transparent overlay for the background image */
.main-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value to control transparency */
  z-index: -1; /* Place it behind other content */
}

/* Center the content vertically and horizontally */
.main0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}

/* Style the form container */
form {
  background: rgba(
    0,
    0,
    0,
    0.7
  ); /* Adjust the alpha value to control transparency */
  margin-left: 350px;
  gap: 50px;
  height: max-content;
  width: 1000px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: white;
}
.fname,
.lname,
.mnumber,
.category,
.subc,
.address {
  width: 200px;
  font-size: 25px;
}
/* Style form title */
h1 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}

/* Style labels and input elements */
label,
.he1 {
  display: flex;
  width: 800px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 200px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 7px;
  background: rgba(
    233,
    227,
    227,
    0.1
  ); /* Adjust the alpha value for input background */
  color: rgb(255, 255, 255);
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 7px;
  background: rgba(233, 227, 227, 0.1);
  color: rgb(255, 255, 255);
}
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 7px;
  background: rgba(233, 227, 227, 0.1);
}
/* Style submit button */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background: rgba(
    63,
    114,
    76,
    0.7
  ); /* Adjust the alpha value for button background */
  color: rgb(209, 209, 209);
  cursor: pointer;
}

button[type="submit"]:hover {
  background: rgba(
    56,
    204,
    93,
    0.7
  ); /* Adjust the alpha value for button hover background */
  color: rgb(255, 255, 255);
}
